{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>COVID-19</title>
</head>
<body>
    <h1>COVID-19</h1>
    <p>Sube una imagen de rayos X de pulmones para analizar si es COVID o no.</p>

    <div class="card">
        <img id="preview">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {# Agrega el token CSRF para seguridad, es que es por post y pues... buenas prácticas#}
            <label for="imageInput" class="custom-file-upload">Subir Imagen</label>
            <input type="file" id="imageInput" name="image" accept="image/*">
            <button type="button" id="predictButton">Analizar</button>
        </form>
    </div>

    <p id="result"></p>

    <script src="{% static 'app/js/script.js' %}"></script>
</body>

</html>